@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.menu{
    width: 1900px;
    background-color: red;
    margin: 10px auto;
}

.menu > a {
    text-decoration: none;
    font-size: 16px;
    padding: 20px;
    color: black;
}